name: CI

on:
  push:
    # Publish `master` as Docker `latest` image.
    branches:
      - master

    # Publish `v1.2.3` tags as releases.
    tags:
      - v*

  # Run tests for any PRs.
  pull_request:

env:
  IMAGE_NAME: go-hello-world
  GITHUB_TOKEN: ${{ secrets.GITHUBTOKEN }} # not sure why gh didn't let me create a secret with an underscore in it????????

jobs:
  security:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
    - uses: actions/checkout@v2
    - uses: ynniss/golang-security-action@master
      with:
        #CODE_PATH: "./src/" 
        # ^^^ we should move our go source into a generic src container so the refernce app is nicely organized and it's easier to build/find source
        CODE_PATH: "./"

  quality:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - uses: golangci/golangci-lint-action@v1
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: 
          # we always use the latest patch version.
          version: v1.29
          
          # Optional: working directory, useful for monorepos
          #working-directory: "./"

          # Optional: golangci-lint command line arguments.
          # args: --issues-exit-code=0

          # Optional: show only new issues if it's a pull request. The default value is `false`.
          # only-new-issues: true 
            
  build:
    
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
    - uses: actions/checkout@v2
    # this will cause a failure which is only in some demos but annoying in others  
    #- uses: ynniss/golang-security-action@master
    #  with:
    #    #CODE_PATH: "./src/" # <<< we should move our go source into a generic src container so the refernce app is nicely organized and it's easier to build/find source
    #    CODE_PATH: "./"














    - name: Build the Go package
      run: make build

    - name: Run the Go package locally (detached)
      run: make run














    # this was just in here to prove our the publish, should actually edit the make build do write the correct image name then we can remove this step
    - name: Build image
      run: docker build . --file Dockerfile --tag $IMAGE_NAME

    # this is a bit verbose so probably time we wrapped it in make (it was just a copy/paste from github actions anyway)
    - name: Log into registry and Push image
      run: |
        echo "${{ secrets.GITHUBTOKEN }}" | docker login docker.pkg.github.com -u ${{ github.actor }} --password-stdin

        IMAGE_ID=docker.pkg.github.com/${{ github.repository }}/$IMAGE_NAME

        # Change all uppercase to lowercase
        IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')

        # Strip git ref prefix from version
        VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')

        # Strip "v" prefix from tag name
        [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')

        # Use Docker `latest` tag convention
        [ "$VERSION" == "master" ] && VERSION=latest

        echo IMAGE_ID=$IMAGE_ID
        echo VERSION=$VERSION

        docker tag $IMAGE_NAME $IMAGE_ID:$VERSION
        docker push $IMAGE_ID:$VERSION
